@media screen and (max-width: 600px) {
    *{
        margin: 0;
        padding: 0;
        
    }

    html{
        font-size: 80%;
        
    }

    .container{
        margin: 0 1.25rem;
    }

    /* tour starts */

    .tour .container{
        flex-direction: column;
    }

    /* tour ends */

    /* destination starts */

    .image1{
        flex-direction: column;
    }

    /* destination ends */

    /* choose starts */

    .choose-item{
        flex-direction: column;
    }

    .choose13{
        width: 85%;
    }

    /* choose ends */

    /* place starts */

    .place .container{
        flex-direction: column;
    }

    /* place ends */

    /* feedback starts */

    .feedback1{
        flex-direction: column;
    }

    .shanker{
        width: 85%;
    }

    /* feedback ends */

    /* newsletter starts */

    .newsletter-container{
        flex-direction: column;
    }

    /* newsletter ends */
}