@media screen and (max-width: 600px) {
    *{
        margin: 0;
        padding: 0;
        
    }

    html{
        font-size: 80%;
        
    }

    .container{
        margin: 0 1.25rem;
    }

    /* header starts */

    header .regular{
        display: none;
    }

    header .bars{
        display: block;
    }

    .banner-form{
        flex-direction: column;
    }

    /* header ends */

    /* tour starts */

    .tour .container{
        flex-direction: column;
    }

    .tour-info h2{
        text-align: center;
    }

    .tour img{
        width: 100%;
    }

    /* tour ends */

    /* destination starts */

    .image1{
        flex-direction: column;
    }

    /* destination ends */

    /* choose starts */

    .choose-item{
        flex-direction: column;
    }

    .choose13{
        width: 85%;
    }

    /* choose ends */

    /* deal starts */

    .deal1>img, .deal2>img, .deal3>img{
        height: 30rem;
    }

    .deal-card1{
        margin: 0 auto;
        height: 19rem;
        width: 70%;
        top: 7rem;
        left: 2rem;
        padding: 1rem;
    }

    .deal-card2{
        margin: 0 auto;
        height: 19rem;
        width: 70%;
        top: 7rem;
        right: 2rem;
        padding: 1rem;
    }

    .deal-card3{
        margin: 0 auto;
        height: 19rem;
        width: 70%;
        top: 8rem;
        left: 2rem;
        padding: 1rem;
    }

    .deal-card1 button, .deal-card2 button, .deal-card3 button{
        padding: 1rem;
        font-size: 1rem;
    }

    .deal-card-details{
        margin: 1rem;
    }

    /* deal ends */

    /* place starts */

    .place .container{
        flex-direction: column;
    }

    .place h2{
        text-align: center;
    }

    .place-main-image{
        width: 100%;
    }

    /* place ends */

    /* feedback starts */

    .feedback1{
        flex-direction: column;
    }

    .shanker{
        width: 91%;
    }

    /* feedback ends */

    /* newsletter starts */

    .newsletter-container{
        flex-direction: column;
    }

    .newsletter-info{
        width: 89%;
    }

    .newsletter button{
        text-align: center;
    }

    /* newsletter ends */

    /* footer starts */

    #company-title{
        padding-top: 2rem;
        padding-bottom: 1rem;
    }

    #hr4{
        width: 100%;
    }

    footer h6{
        padding-bottom: 2rem;
    }

    /* footer ends */
}