*{
    margin: 0;
    padding: 0;
    font-family: 'Mulish', sans-serif;
    color: #131318;
}

html{
    scroll-behavior: smooth;
    font-size: 100%;
}

section{
    margin-bottom: 6rem;
}

.container{
    max-width: 62rem;
    margin: 0 auto;
}

span{
    color: #FF5400;
}

button{
    color: #FFF;
    text-align: center;
    border-radius: 0.5rem;
    background-color: #FF5400;
    border: none;
    cursor: pointer;
    font-size: 20px;
    font-weight: 800;
}

p{
    font-weight: 400;
}

.hidden{
    display: none;
}

/* header starts */

nav{
    margin: 3rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.company-title{
    display: flex;
    align-items: center;
}

.logo1{
    margin-right: 1rem;
    height: 3rem;
    width: 3.5rem;
}

.logo2{
    height: 2.5rem;
    width: 3rem;
}

.company-title h3{
    font-size: 2.25rem;
    font-weight: 800;
}

nav ul{
    display: flex;
}

nav li{
    list-style: none;
    margin-left: 3rem;
    font-size: 1.125rem;
    font-weight: 400;
}

a{
    color: #424247;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.2s;
}

a:hover{
    color: #FF5400;
    font-weight: 700;
}

.banner{
    background-image: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url("../images/banner.png");
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 1rem;
    padding-bottom: 6rem;
}

.banner h1{
    color: #FFF;
    text-align: center;
    font-size: 4rem;
    font-weight: 800;
    padding: 6.5rem 0 1.5rem;
}

.banner p{
    width: 70%;
    margin: 0 auto;
    color: #FFF;
    text-align: center;
    line-height: 1.6rem;
}

.banner-form{
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    border-radius: 0.5rem;
    background-color: rgba(255, 255, 255, 0.30);
    padding: 1rem;
    align-items: center;
    gap: 1.5rem;
}

.banner-form input{
    border-radius: 0.5rem;
    background-color: #FFF;
    padding: 1rem;
    border: none;
}

.banner-form::placeholder{
    color: rgba(19, 19, 24, 0.50);
    font-size: 1rem;
    font-weight: 400;
}

.banner-form .time{
    position: relative;
}

.banner-form .travel{
    position: relative;
}

.dropdown{
    position: absolute;
    color: rgba(19, 19, 24, 0.50);
    top: 1rem;
    right: 1rem;
}

.banner-form-button{
    display: flex;
    justify-content: center;
    position: relative;
}

.banner-form button{
    padding: 0.7rem 0.5rem 0.7rem 2rem;
    position: relative;
    
}

.banner-form-button i{
    position: absolute;
    top: 1rem;
    left: 0.5rem;
}

.search{
    position: absolute;
    color: #FFF;
    top: 1rem;
    left: 1rem;
}

form{
    padding-bottom: 6.5rem;
}

/* header ends */

/* tour starts */

.tour .container{
    display: flex;
    align-items: center;
    gap: 3rem;
}

.tour-info h2{
    font-size: 2.5rem;
    font-weight: 800;
}

.tour-info p{
    margin: 1.5rem 0 0.6rem;
    color: rgba(19, 19, 24, 0.70);
}

.tour-info li{
    margin: 1rem;
    color: #5A5A5D;
}

.tour-info button{
    margin-top: 2rem;
    padding: 1rem 2rem;
}

/* tour ends */

/* destination starts */

.destination h2{
    text-align: center;
    font-size: 2.5rem;
    font-weight: 800;
}

.destination p{
    width: 70%;
    margin: 0 auto;
    text-align: center;
    color: rgba(19, 19, 24, 0.70);
    line-height: 1.6rem;
    margin: 1.5rem auto 3rem;
}

.image1{
    display: flex;
    justify-content: space-between;
    gap: 1.6rem;
    margin-bottom: 1.5rem;
}

.image1 > .country{
    position: relative;
}

.destination img{
    width: 100%;
    border-radius: 1rem;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), lightgray 50% / cover no-repeat;
}

.image1 h5{
    color: #FFF;
    text-align: center;
    font-size: 1.75rem;
    font-weight: 800;
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* destination ends */

/* choose starts */

.choose h2{
    text-align: center;
    font-size: 2.5rem;
    font-weight: 800;
    margin-bottom: 1.5rem;
}

.choose-info p{
    width: 70%;
    margin: 0 auto;
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.6rem;
}

.choose1{
    margin-top: 3rem;
}

.choose1 img{
    height: 4rem;
    width: 4rem;
}

.choose-item{
    display: flex;
    justify-content: space-between;
    gap: 1.5rem;
    margin-bottom: 1.5rem;
}

.choose11{
    border-radius: 1rem;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    padding: 2rem;
}

.choose12{
    border-radius: 1rem;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
    padding: 2rem;
}

.choose13{
    border-radius: 1rem;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
    padding: 2rem;
    width: 44%;
    margin: 0 auto;
}

.choose h6{
    font-size: 1.5rem;
    font-weight: 800;
    margin: 2rem 0 1rem;
}

.choose1 p{
    color: #5A5A5D;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.6rem;
}

/* choose ends */

/* deal starts */

.deal h2{
    text-align: center;
    font-size: 2.5rem;
    font-weight: 800;
}

.deal-info{
    width: 70%;
    margin: 1.5rem auto 3rem;
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.6rem;
}

.deal-image{
    margin-bottom: 1.5rem;
}

.deal1{
    position: relative;
}

.deal1 > img{
    width: 100%;
}

.deal-card1{
    width: 44%;
    border-radius: 1rem;
    border: 2px solid #FFF;
    background: rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(2.5px);
    padding: 3rem;
    position: absolute;
    top: 2rem;
    right: 2rem;
}

.small-information{
    display: flex;
    flex-wrap: wrap;
}

.small-info{
    display: flex;
    align-items: center;
}

.small-info img{
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 0.6rem;
}

.small-info p{
    margin-right: 1.5rem;
}

.deal-card1 h6{
    color: #131318;
    font-size: 1.5rem;
    font-weight: 800;
    margin: 1rem 0;
}

.deal-card1 p{
    color: #5A5A5D;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.6rem;
}

.deal-card-details{
    margin: 1rem 0 1.5rem;
}

.deal-card-span{
    font-size: 1.25rem;
    font-weight: 800;
}

.deal-card1 button{
    padding: 1rem 1.5rem;
}

.deal2{
    position: relative;
}

.deal2 > img{
    width: 100%;
}

.deal-card2{
    width: 44%;
    border-radius: 1rem;
    border: 2px solid #FFF;
    background: rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(2.5px);
    padding: 3rem;
    position: absolute;
    top: 2rem;
    left: 2rem;
}

.deal-card2 h6{
    color: #131318;
    font-size: 1.5rem;
    font-weight: 800;
    margin: 1.5rem 0;
}

.deal-card2 p{
    color: #5A5A5D;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.6rem;
}

.deal-card2 button{
    padding: 1rem 1.5rem;
}

.deal3{
    position: relative;
}

.deal3 > img{
    width: 100%;
}

.deal-card3{
    width: 44%;
    border-radius: 1rem;
    border: 2px solid #FFF;
    background: rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(2.5px);
    padding: 2rem;
    position: absolute;
    top: 2rem;
    right: 2rem;
}

.deal-card3 h6{
    color: #131318;
    font-size: 1.5rem;
    font-weight: 800;
    margin: 1.5rem 0;
}

.deal-card3 p{
    color: #5A5A5D;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.6rem;
}

.deal-card3 button{
    padding: 1rem 1.5rem;
}

.deal-button{
    text-align: center;
}

.deal-button button{
    margin-top: 3rem;
    padding: 1rem;
}

/* deal ends */

/* place starts */

.place .container{
    display: flex;
    align-items: center;
    gap: 2.5rem;
}

.place h2{
    font-size: 2.5rem;
    font-weight: 800;
    line-height: 3.75rem;
}

.place p{
    color: #5A5A5D;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.6rem;
}

.place ul{
    margin: 1rem 0 0.6rem 1rem;
}

.place li{
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.6rem;
    margin-bottom: 1rem;
}

.place button{
    margin-top: 2rem;
    padding: 1rem 2.5rem;
}

.place-image{
    border-radius: 1rem;
    background: linear-gradient(180deg, #131318 -31.96%, rgba(19, 19, 24, 0.00) 100%);
    position: relative;
}

.place h6{
    color: #FFF;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 2.25rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.control{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
}

.pause{
    color: #F3F3F3;
    position: absolute;
    left: 1.5rem;
    bottom: 3rem;
    height: 1.5rem;
    width: 1.5rem;
}

#time-zero{
    color: #F3F3F3;
    position: absolute;
    left: 3.75rem;
    bottom: 3rem;
}

.mute{
    color: #F3F3F3;
    position: absolute;
    right: 6.5rem;
    bottom: 3rem;
    height: 1.5rem;
    width: 1.5rem;
}

.maximise{
    color: #F3F3F3;
    position: absolute;
    right: 4rem;
    bottom: 3rem;
    height: 1.5rem;
    width: 1.5rem;
}

.ellipsis{
    color: #F3F3F3;
    position: absolute;
    right: 1.5rem;
    bottom: 3rem;
    height: 1.5rem;
    width: 1.5rem;
}

#hr1{
    height: 4px;
    width: 90%;
    position: absolute;
    bottom: 1.5rem;
    left: 1.5rem;
    border-radius: 0.5rem;
    background: rgba(255, 255, 255, 0.30);
    border: none;
}

.time-pause{
    height: 4px;
    width: 15%;
    position: absolute;
    bottom: 1.5rem;
    left: 1.5rem;
    border-radius: 0.5rem;
    color: #FFF;
    border: none;
}

/* place ends */

/* feedback starts */

.feedback h2{
    text-align: center;
    font-size: 2.5rem;
    font-weight: 800;
    margin-bottom: 3rem;
}

.feedback h6{
    font-size: 1.5rem;
    font-weight: 800;
    margin-bottom: 1rem;
}

.feedback p{
    color: #5A5A5D;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.6rem;
}

.feedback1{
    display: flex;
    gap: 1.5rem;
    margin-bottom: 1.5rem;
}

.strike{
    border-radius: 1rem;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    padding: 2rem;
}

.ellacott{
    border-radius: 1rem;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
    padding: 2rem;
}

.shanker{
    width: 44%;
    margin: 0 auto;
    border-radius: 1rem;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
    padding: 2rem;
}

/* feedback ends */

/* newsletter starts */

.newsletter-container{
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.newsletter-info{
    /* width: calc(40%-1.5rem); */
    border-radius: 1rem;
    border: 1px solid #FF5400;
    padding: 2.5rem;
}

.newsletter h6{
    font-size: 1.5rem;
    font-weight: 800;
}

.newsletter p{
    color: #5A5A5D;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.6rem;
    margin: 1rem 0 1.5rem;
}

#hr3{
    width: 100%;
    height: 1px;
    background: rgba(19, 19, 24, 0.10);
    margin-bottom: 1.5rem;
    border: none;
}

.newsletter form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-bottom: 0;
}

.newsletter input{
    border-radius: 0.5rem;
    background: rgba(19, 19, 24, 0.05);
    padding: 1rem 1.25rem;
    border: none;
}

.newsletter button{
    margin-top: 0.6rem;
    padding: 1rem;
    color: #FFF;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 800;
}

.image-information{
    position: relative;
}

.image-information img{
    width: 100%;
}

.image-info{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    background-color: #FF5400;
    padding: 0 1rem;
    border-radius: 1rem;
    position: absolute;
    bottom: 2.7rem;
    right: 0.6rem;
    transform: rotate(-19.628deg);
}

.image-info h6{
    color: #FFF;
    font-size: 1.5rem;
    font-weight: 400;
    margin: 1.5rem auto 0.3rem;
}

.newsletter h4{
    color: #FFF;
    font-size: 2rem;
    font-weight: 800;
    margin-bottom: 1.5rem;
}

/* newsletter ends */

/* footer starts */

footer{
    background: rgba(19, 19, 24, 0.05);
}

#company-title{
    justify-content: center;
    padding-top: 6.5rem;
    padding-bottom: 2rem;
}

footer h4{
    font-size: 2rem;
    font-weight: 800;
}

footer p{
    width: 70%;
    margin: 0 auto;
    color: #5A5A5D;
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.6rem;
    margin-bottom: 2rem;
}

.social{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

.social img{
    height: 1.5rem;
    width: 1.5rem;
}

#hr4{
    height: 1px;
    width: 70%;
    background: rgba(19, 19, 24, 0.10);
    margin: 3rem auto;
    border: none;
}

.copyright{
    text-align: center;
}

footer h6{
    padding-bottom: 6.5rem;
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    font-weight: 300;
}

/* footer ends */